PORT=8080
SERVER_FORWARD_HEADERS_STRATEGY=framework

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydatabase
SPRING_DATASOURCE_USERNAME=myuser
SPRING_DATASOURCE_PASSWORD=secret

APP_MAIL_REQUIRED=false
APP_MAIL_FROM=no-reply@example.com
APP_PUBLIC_BASE_URL=http://localhost:8080
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=deine-mail@example.com
SPRING_MAIL_PASSWORD=app-password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

SPRING_JPA_SHOW_SQL=true
SPRING_THYMELEAF_CACHE=false
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info
